<template>
  <div class="hello">
    <h1>{{name}}</h1>
    <h1 class="hr">Utilisateurs</h1>
    <form>
      <div>
        <div id = "User">
          <label class="user">
            <p>Utilisateurs existants</p>
          </label>
          <multiselect v-model="valueUser" :options="users" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" group-values="user" group-label="label" :group-select="true" placeholder="Select Database Users" :custom-label="customLabel" track-by="uuid">
            <template slot="selection" slot-scope="{ value, search, isOpen }">
              <span class="multiselect__single" v-if="valueUser.length &amp;&amp; !isOpen">{{ valueUser.length }} user selected</span>
            </template>
          </multiselect>
          <hr>
          <label class="constructuser">
            <p>Créer des utilisateurs</p>
          </label>
          <b-form-checkbox
                  id="checkbox-1"
                  v-model="addUser"
                  name="checkbox-1"
                  value="accepted"
          >
            Ajouter des utilisateurs
          </b-form-checkbox>
          <b-form inline>
            <label>Nombre d'utilisateurs désirés</label>
            <b-input
                    id="inline-form-input-name"
                    :disabled="!addUser"
                    class=""
                    type="number"
                    v-model="numberUser"
                    min="1"
            ></b-input>
            <b-form-checkbox class="download"  v-model="download" :disabled="!addUser" name="check-button" switch>
              Télécharger les données des nouveaux utilisateurs
            </b-form-checkbox>
          </b-form>
          <hr>
            <label>
              Total des utilisateurs : {{calculateUsers}}
            </label>


        </div>
        <div>
          <h1 class="hr passage">Passage en magasin</h1>
          <div id="User">
            <label>
              <p>Magasins disponible</p>
            </label>
            <multiselect v-model="valueStore" :options="stores" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" group-values="store" group-label="label" :group-select="true" placeholder="select store" label="Name" track-by="IdStore">
              <template slot="selection" slot-scope="{ values, search, isOpen }">
                <span class="multiselect__single" v-if="valueStore.length &amp;&amp; !isOpen">{{ valueStore.length }} store selected</span>
              </template>
            </multiselect>
            <hr>
            <label class="constructuser">
              <p>Passage des utilisateurs</p>
            </label>
            <b-form-group class="storePassages">
              <label>Nombre de passages par utilisateurs désirés</label>
              <b-input
                      id="inline-form-input-name"
                      class=""
                      type="number"
                      v-model="numberPassages"
                      min="1"
              ></b-input>

            </b-form-group>
          </div>
        </div>
        <h1 class="hr passage">Validation</h1>
        <div class="btnvalider">
          <b-button block variant="primary" @click="submit()">Valider</b-button>
          <b-button @click="logout()">logout</b-button>
        </div>
        <div>
          <h1 class="hr passage"></h1>
        </div>
      </div>
    </form>
    <div>
      <b-card no-body>
      <b-tabs content-class="mt-3"  card justified>
        <b-tab :title="store.Name" active v-for="store in valueStore" :key="store.IdStore">
          <b-tabs pills card>
            <b-tab :title="user.firstname + user.lastname" active v-for="user in valueUser" :key="user.uuid">
              <b-card-title>
                User {{user.firstname}} - {{user.lastname}} visite le magasin {{store.Name}}
              </b-card-title>
              <b-form-textarea
                      :disabled="true"
                      id="textarea"
                      placeholder=""
                      rows="8"
                      no-resize
                      value="action"
              ></b-form-textarea>
            </b-tab>
          </b-tabs>
        </b-tab>
      </b-tabs>
        </b-card>
    </div>
<br><br><br><br><br><br><br>
  </div>

</template>
<script>
  import Multiselect from 'vue-multiselect'
  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'
  import * as Keycloak from 'keycloak-js'
  import config from '@/components/config/config.js'
  //import ActionSeed from "@/Scripts/Machine/Action"; //create products etc
  import ActionUser from "@/Scripts/User/Action"; //generate an user cycle across the store
  import ApiManager from "@/Builder/data/ApiManager";
  import Mechanic from "@/Scripts/Machine/Mechanic";
  export default {
    name: 'HelloWorld',
    components: { Multiselect },
    data() {
      return {
        users : [],
        stores:[],
        name: 'Générateur de contenu',
        valueUser: [this.$store.state.data.user[0]],
        valueStore: [this.$store.state.data.store[0]],
        addUser: false,
        numberUser: 1,
        download: true,
        totalUsers: 0,
        numberPassages: 1,
        action: this.$store.state.data.user[0].History

      }
    },
    computed: {
      calculateUsers(){
        let usr = this.valueUser.length;
        if (this.addUser) {
          usr = usr + parseInt(this.numberUser)
        }
        return usr
      },
    },
    methods: {
      customLabel ({ firstname, lastname}) {
        return `${firstname} – ${lastname}`
      },
      actions(userUuid, IdStore){
        console.log(userUuid, IdStore)
        this.action += this.$store.getters.getUserHistory(userUuid, IdStore);
        return this.action

      },
      async authenticate() {
        // keycloak init options
        try {
          let kcOptions = {
            url: `${config.keycloakURL}/auth/`,
            realm: config.realm,
            clientId: config.clientId
          }
          let keycloak = Keycloak(kcOptions)
          console.log('Authenticating')
          await keycloak.init({onLoad: 'login-required'}).then((auth) => {
            console.log(auth)
            if (!auth) {
              console.log('NOT Authenticated')
              this.AccessToken = ''
            } else {
              console.log('Authenticated')
              this.AccessToken = keycloak.token
            }
            this.$store.dispatch('keycloak', keycloak)
          }).catch((error) => {
            console.error(error)
            console.log('Authenticated Failed')
          })
        } catch (error) {
          console.error(error)
        }
      },
      logout() {
        var url = `${config.keycloakURL}/auth/realms/SupGo/protocol/openid-connect/logout?redirect_uri=${encodeURIComponent(`${config.frontURL}`)}`;
        window.location.href = url;
        this.$store.dispatch('keycloak', null)
      },
      async submit() {
        let SelectedUsr = this.valueUser;
        if (this.addUser) {
          let CreatedUsr = await Mechanic.CreateUser(this.numberUser);
          CreatedUsr.forEach((usr) => {
           SelectedUsr.push(usr);
           this.$store.state.data.user.push(usr)
          });
          if(this.download){
            Mechanic.DownloadUsers(CreatedUsr);
          }
        }
        this.users = [{
          label: 'User', user: this.$store.state.data.user
        }];
        //console.log(SelectedUsr, this.valueUser)
        ActionUser.StartAction(this.numberPassages, this.valueUser, this.valueStore); ///Combien de fois 1 user fera de visites au store et storeId
      }
    },
    async mounted () {
      await this.authenticate();
      if (this.$store.state.keycloak) {
        ApiManager.GetAllUsers();
        ApiManager.GetStock();
        ApiManager.GetProducts();
        ApiManager.GetCategory();
        ApiManager.GetDiscount();
        ApiManager.GetStore();
        ApiManager.GetActions();
        //
        this.users = [{
          label: 'User', user: this.$store.state.data.user
        }];
        this.stores = [{
          label: 'Store', store: this.$store.state.data.store
        }];
      }
      //console.log(await this.$store.getters.getUserHistory(this.$store.state.data.user[0].uuid, this.$store.state.data.store[0].IdStore));

      //console.log(this.users, this.stores, this.valueUser, this.valueStore)
      console.log(this.$store.state.data);
      //console.log(this.$store.state)
    }
  }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
label {
  margin: .4rem;
}
#User{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.download{
  margin-left: 2%;
}
.passage{
margin-top: 5%;
}
.storePassages{
  text-align: left;
}
.btnvalider{
  margin-top: 5%;
}
.hr {
  /* centre verticalement les enfants entre eux */
  align-items: center;

  /* active flexbox */
  display: flex;

  /* garde le texte centré s’il passe sur plusieurs lignes ou si flexbox n’est pas supporté */
  text-align: center;
}

.hr::before,
.hr::after {
  /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
  border-top: .0625em solid;

  /* nécessaire pour afficher les pseudo-éléments */
  content: "";

  /* partage le reste de la largeur disponible */
  flex: 1;

  /* espace les traits du texte */
  margin: 0 .5em;
}
</style>
