<template>
  <div/>
</template>

<script>
import * as Keycloak from 'keycloak-js'
import config from '@/components/config/config.js'

export default {
  layout: 'noStyle',
  methods: {
    authenticate () {
      // keycloak init options
      try {
        let kcOptions = {
          url: `${config.keycloakURL}/auth/`,
          realm: config.realm,
          clientId: config.clientId
        }
        let keycloak = Keycloak(kcOptions)
        console.log('Authenticating')
        keycloak.init({ onLoad: 'login-required' }).then((auth) => {
          console.log(auth)
          if (!auth) {
            console.log('NOT Authenticated')
            this.AccessToken = ''
          } else {
            console.log('Authenticated')
            this.AccessToken = keycloak.token
          }
          this.$router.push({name: 'HelloWorld'})
        }).catch((error) => {
          console.error(error)
          console.log('Authenticated Failed')
        })
      } catch (error) {
        console.error(error)
      }
    }
  },
  mounted () {
    this.authenticate()
  }
}
</script>
<style>
</style>
